html {
    position: relative;
    height: 100vh;
    margin: 0;
    background-color: rgb(0, 0, 0);
}
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the video covers the entire background */
    z-index: -1; /* Position the video behind other content */
}

body {
    
    position: relative;
    display: flex;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    line-height: 1.42;
    font-size: 16px;
    height: 100vh;
    margin: 0;
}
#container {
    max-width: 100%;
    background-color: rgb(179, 164, 148);
    z-index: 1;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    padding: 20px;
}

#score {
    margin: -38px auto 0;
    border-radius: 10px;
    background-color: rgb(179, 164, 148);
    color: #050505;
    text-align: center;
    font-size: larger;
    padding: 8px;
    width: fit-content;
}

#correct,
#wrong {
    position: absolute;
    top: 0;
    background-color: rgb(54, 146, 58);
    color: aliceblue;
    padding: 12px;
    border-radius: 11px;
    display: none;
}

#question {
    max-width: 100%;
    margin: 10px auto auto;
    border-radius: 10px;
    background-color: rgb(158, 87, 87);
    font-family: 'Times New Roman', Times, serif;
    font-size: 5.5vw;
    color: black;
}

#instruction {
    max-width: 100%;
    height: auto;
    background-color: rgb(156, 192, 26);
    border-radius: 11px;
    color: aliceblue;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
}

#choices {
    display: flex;
    flex-wrap: wrap;

}

.box {
    width: 150px;
    height: 85px;
    background-color: rgb(37, 143, 127);
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    line-height: 85px; /* Center vertically */
    font-size: 2.5vw;
    transition: all 0.2s;
    display: flex; /* Center horizontally and vertically */
    justify-content: center;
    align-items: center;
}

.box:active,
#startreset:active {
    background-color: #475569;
    color: rgb(255, 255, 255);
}

#startreset {
    width: 150px;
    padding: 15px;
    background-color: rgb(37, 127, 165);
    color: white;
    margin: 20px auto;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s;
}

#timeremaining {
    width: 80%;
    padding: 15px;
    background-color: rgb(225, 225, 135);
    border-radius: 10px;
    display: none;
    transform: translateX(8%);
    font-size: 1.2em;
}

#gameOver {
    display: none;
    /* Initially hidden */
    font-size: 2.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: fit-content;
    width: 300px;
    border-radius: 10px;
    background-color: rgb(19, 101, 110);
    color: white;
    text-align: center;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
    body{

        align-items: center;
    }
    #correct,
    #wrong {
        display: flex;
        left: 0%;
    }

    #container {
        margin: 80px 10px;
        position: relative;
        padding: 10px;
    }


    #correct,
    #wrong {
        display: none;
    }
    #choices {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    #score {
        top: -10px;
        background-color: #475569;
        width: fit-content;
    }

    #question {
        font-size: 5vw;
    }

    #choices {
        display: flex;
        text-align: center;
    }

    .box {
        width: 100px;
        height: 60px;
        font-size: 1.2em;
    }

    #startreset {
        width: 80%;
    }

    #gameOver {
        height: fit-content;
        width: 90%;
        font-size: 3vw;
        align-items: center;

    }
}

@media only screen and (max-width: 480px) {
    body{
        margin: 2px;
    }
    #container{
        align-items: center;
        justify-content: center;
    }
    #correct,
    #wrong {
        padding: 1ch;
        display: none;
    }

    #question {
        font-size: 10vw;
    }

    #score {
        padding: 0px 10px;
    }

    #startreset {
        width: 150px;
        padding: 12px;
    }

    #timeremaining {
        display: none; /* Initially hidden */
        font-size: 1.2em;
        background-color: #00000060; /* Background color for timeremaining */
        padding: 10px;
        width: 80%;
        color: white;
        border-radius: 5px;
        position: absolute;
        top: -90px; /* Adjust this value to fine-tune the positioning */
        left: 50%;
        transform: translateX(-50%);
        z-index: 1; /* Ensure it's above other content */
    }
    #gameOver {
        display: none; /* Initially hidden */
        font-size: 2.5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: fit-content;
        width: 300px;
        border-radius: 10px;
        background-color: rgb(19, 101, 110);
        color: white;
        text-align: center;
    }
}

@media only screen and (max-width: 240px) {
    #question {
        font-size: 8vw;
    }

    #score {
        padding: 0px 5px;
    }

    #startreset {
        width: 120px;
        padding: 8px;
    }

    #timeremaining {
        position: absolute;
        top: -80px;
        margin: 0px;
        font-size: 1.2em;
    }
}
